.wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;

} 

.wrapper > * {
    flex: 1 100%;
}

.main {
    text-align: left;
    display: flex;
    justify-content: center;
    background: #111;
  }

.aside2 {
    overflow: auto;
  }

.container {
    width: 60px;
}

.container.active {
   width: 15vh;
}
.inactive {
    visibility: hidden;
    transform: translateX(1000px)
}

  @media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }
   
  @media all and (min-width: 800px) {
    .main    { flex: 25 0px; } /* adjusting the six up or down changes aside2's amount of space */
    .main    { order: 2; }
    .aside2  { order: 3; }
    .footer  { order: 4; }
  } 